body {
            background: linear-gradient(135deg, #e0c7c0, #feb47b);
            padding-top: 50px;

        }
        .card {
            border-radius: 10px;
        }
        .card-body {
            padding: 2rem;
        }
        .card-title {
            margin-bottom: 1.5rem;
        }
        .btn-primary {
            background-color: #ff6f61 !important;
            border-color: #ff6f61 !important;
        }
        .btn-primary:hover {
            background-color: #e85c50;
            border-color: #e85c50;
        }

        
