body {
            background: linear-gradient(135deg, #e0c7c0, #feb47b);
            padding-top:0;
            margin:0;

        }
        .card {
            border-radius: 10px;
        }
        .card-body {
            padding: 2rem;
        }
        .card-title {
            margin-bottom: 1.5rem;
        }
        .btn-primary {
            background-color: #ff6f61 !important;
            border-color: #ff6f61 !important;
        }
        .btn-primary:hover {
            background-color: #e85c50;
            border-color: #e85c50;
        }

   .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent !important;
    box-shadow: none;
}

.content-with-navbar {
    padding-top: 70px; /* adjust to match your navbar height */
}
